
.element-in-current-focus,
.element-in-current-focus *
{ 
    background-color: #00ffff !important;
    cursor: default !important;
}

img.element-in-current-focus,
.element-in-current-focus img
{ 
    -webkit-filter: opacity(50%) blur(4px) !important; 
    filter: opacity(50%) blur(4px) !important;
}

.hide-element-in-focus-mode
{
    display: none !important;
    visibility: hidden !important;
    z-index: -1000 !important;
}
